{#
/**
 * @file
 * Theme implementation to display a news and hightlights view block.
#}

{%
  set classes = [
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'bottom-content-view-block',
  ]
%}

{%
  set title_classes = [
  'section-title--bottom-content',
  ]
%}


{% if not bare %}

  <section{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if label %}
      <h2 {{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

{% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

{% if not bare %}
  </section>

{% endif %}